.Pro {
  display: flex;
  justify-content: center;
  position: relative;
  .pro-title {
    width: 930px;
    height: 47px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 47.6px;
    font-size: 34px;
    letter-spacing: -0.7px;
  }
  .pro-category {
    width: 930px;
    height: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
    span {
      text-decoration: none;
      color: grey;
    }
  }
  .pro-search-container {
    position: relative;
    width: 970px;
    height: 230px;
    .pro-search-main {
      position: relative;
      margin-bottom: 30px;
      .pro-search {
        width: 350px;
        height: 41px;
        padding-left: 35px;
        font-size: 14px;
        line-height: 21px;
        background-color: #f2f2f2;
        border-radius: 0.5rem;
        outline: 0;
      }
      .pro-search-img {
        position: absolute;
        left: 1.2%;
        bottom: 32%;
      }
      .pro-local {
        width: 197px;
        height: 41px;
        margin-left: 8px;
        padding-left: 30px;
        font-size: 14px;
        line-height: 21px;
        text-align: left;
        background-color: #f2f2f2;
        color: #737373;
        border: none;
        border-radius: 0.5rem;
        outline: 0;
      }
      .pro-map-img {
        position: absolute;
        left: 38%;
        bottom: 26%;
      }
      .pro-search-category {
        width: 197px;
        height: 41px;
        margin-left: 8px;
        padding-left: 30px;
        text-align: left;
        font-size: 14px;
        line-height: 21px;
        background-color: #f2f2f2;
        color: #737373;
        border: none;
        border-radius: 0.5rem;
        outline: 0;
      }
      .pro-category-img {
        position: absolute;
        left: 59.2%;
        bottom: 32%;
      }
    }
    .category-btn-form {
      display: inline-block;
      .category-btn {
        width: 99px;
        height: 36px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #e1e1e1;
        border-radius: 50rem;
        background-color: #ffffff;
      }
    }
    .pro-last-container {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .pro-review {
        width: 60px;
        padding-right: 0px;
        font-size: 14px;
        border: none;
        background-color: #ffffff;
      }
    }
    .pro-search-modal {
      position: absolute;
      display: block;
      width: 350px;
      height: 469px;
      top: 18%;
      background-color: white;
      border: 1px solid #f2f2f2;
      border-radius: 7px;
      z-index: 1;

      &-not-active {
        display: none;
      }

      p {
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 30px;
        font-weight: 700;
      }
      &-style {
        width: 98px;
        height: 36px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 20px;
        background-color: #ffffff;
      }
      .pro-search-cancel {
        position: absolute;
        display: block;
        width: 350px;
        height: 41px;
        text-align: right;
        padding-right: 10px;
        bottom: 0%;
        left: 0%;
        font-size: 14px;
        font-weight: 700;
        outline: 0;
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
      }
    }
  }
}
